<h1>Edit Comment  </h1>

<%= form_for(@comment) do |f| %>

<% if @comment.errors.any? %>
  <div id="error_explanation" class="field_with_errors">
    <ul>
    <% @comment.errors.messages.values.each do |msg| %>
    <%msg.each do  |m| %>
       <li><%= m %></li>
     <%end %>
   <% end %>
    </ul>
  </div>
<% end %>

<%= hidden_field_tag "comment[pairing_id]", @comment.pairing_id %>
<%= hidden_field_tag "comment[user_id]", @comment.user_id %>

  <%= f.label :Edit_Comment %>
  <%= f.text_field :body %>

  <%= f.submit %>
<% end %><br>

<% if user_admin? %>
  <%= link_to "Delete Comment", @comment, method: :delete, data: {confirm: "Really?!"} %>
<% end %><br>

<br><%= link_to 'Home', home_url%>
