<h2>
  User Name: <%=@user.user_name%>
  <% if user_current_user? || user_admin? %>
    <%= link_to '(Edit Profile)', edit_user_path(@user)%><br>
  <% end %>
  <h2>

   <% if @user.pairings.empty? && @user == @current_user %>
      <h3>
        You Don't have any Pairings
        <%= link_to "Create a Pairing", new_pairing_url%>
      </h3>
   <% else %>
     <%= link_to "Pairings for #{@user.user_name}", user_pairings_url(@user) %><br>
   <%end%>

   <% if !@user.comments.empty? %>
        <%= link_to "Comments for #{@user.user_name}", user_comments_url(@user) %>
   <%end%>
<%byebug%>
   <% if !@user.cookies.empty? %>
        <%= link_to "Cookies added by #{@user.user_name}", user_cookies_url(@user) %>
   <%end%>
