<h2> Sign Up </h2>

<%= form_for @user, controller: 'users', action: 'create' do |f| %>


<% if @user.errors.any? %>
  <div id="error_explanation" class="field_with_errors">
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.label :name %>
  <%= f.text_field :user_name %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "create" %>
<% end %>
<br>
<br>
<h2> Or Log In</h2>

<%= link_to "Log In", '/login' %><br>
