<%= render :partial => 'layouts/navbar' %>

<div class="container-fluid main_body_style">
  <% flash.each do |key, value| %>
        <div class="alert alert-danger"> <%= key.upcase %>: <%= value %></div>
  <% end %>
  <div class="row">
    <div class="col-sm-2 ">
    </div><!--end column -->

   <div class="col-sm-8 ">

     <%= render 'user_info', user: @user %> <br>
     <button id="pairings">show pairings</button><br>
     <button id="comments" data-id=<%=@user.id%> >show comments</button><br>
     <button id="cookies">show cookies</button><br>
     <button id="wines">show wines</button><br><br>

     <div id="allPairings">
       <ul>
       </ul>
     </div><br>

     <div id="allComments">
       <ul>
       </ul>
     </div><br>

     <div id="allCookies">
       <ul>
       </ul>
     </div><br>

     <div id="allWines">
       <ul>
       </ul>
     </div><br>



   </div><!--end column -->

   <div class="col-sm-2 ">
   </div><!--end column -->

 </div> <!--end row --><br><br><br><br><br><br><br><br>
</div><!--end container -->
