<h1>Hi, <%= @user.user_name %></h1>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>


<%= link_to 'Highest Rated Pairing', pairing_url(@highest_rated_pairing)%><br>

<%= link_to 'Most Commented Pairing', pairing_url(@most_commented_pairing)%><br>

<%= link_to 'Newest Pairing', pairing_url(@newest_pairing)%><br>
<%= link_to 'Oldest Pairing', pairing_url(@oldest_pairing)%><br>

<%= link_to 'all pairings', pairings_path(@pairings)%><br>

<%= link_to 'Find a pairing for a specific cookie', cookies_url%> <br>

<%= link_to 'Find a pairing for a specific wine', wines_url%> <br>

<%= link_to 'Create a Pairing', new_pairing_url%>
