<!-- FORM FOR CREATING A PAIRING DIRECTLY FROM THE COOKIE SHOW PAGE. NOT CURRENTLY IN USE. -->
<h3> Create a New Pairing with this Cookie</h3>
  <%= form_for @pairing  do |f| %>

    <%= f.label :Wine %>
    <%= f.collection_select :wine_id, Wine.all,:id,:wine_name%>
    <%= id_field(@pairing,@cookie) %>
    <%= id_field(@pairing,@current_user) %>
    <br><br>

    <%= f.submit :class => "btn btn-success"%>
  <% end %> <br><br>
