<h3> Create a New Pairing with this Cookie</h3>
  <%= form_for @pairing  do |f| %>

    <%= f.label :Wine %>
    <%= f.collection_select :wine_id, Wine.all,:id,:wine_name%>
    <%= f.hidden_field :cookie_id, value: @cookie.id %>
    <br />

    <%= f.submit %>
  <% end %> <br><br>
