<%= render :partial => 'layouts/navbar' %>

<div class="container-fluid main_body_style">
  <div class="row">
    <div class="col-sm-1 ">
    </div><!--end column -->

   <div class="col-sm-10 ">
     <%= render 'cookieinfo', cookie: @cookie %>
   </div><!--end column -->
   <div class="col-sm-1 ">
   </div><!--end column -->
 </div> <!--end row -->

 <div class="row">
   <div class="col-sm-1 ">
   </div><!--end column -->

  <div class="col-sm-10 ">
    <%= render 'wine_pairings', cookie: @cookie %>
  </div><!--end column -->
  <div class="col-sm-1 ">
  </div><!--end column -->
</div> <!--end row -->

<div class="row">
  <div class="col-sm-1 ">
  </div><!--end column -->

 <div class="col-sm-10 ">
   <%= render 'create_pairing', pairing: @pairing, cookie: @cookie %>
 </div><!--end column -->
 <div class="col-sm-1 ">
 </div><!--end column -->
</div> <!--end row -->

<div class="row">
  <div class="col-sm-1 ">
  </div><!--end column -->

 <div class="col-sm-10">
   <%=edit(@cookie)%>
   <%=delete(@cookie)%>
 </div><!--end column -->

 <div class="col-sm-1 ">
 </div><!--end column -->
</div> <!--end row --><br><br>

</div><!--end container -->
