<%= render :partial => 'layouts/navbar' %>

<div class="container-fluid main_body_style">
  <div class="row">
    <div class="col-sm-1 ">
    </div><!--end column -->

   <div class="col-sm-10 ">
     <h2> Here is some information about this Cookie: </h2><br>
     <h3>
      Cookie Name: <%= @cookie.cookie_name.titlecase %><br>
      Description: <%= @cookie.description.titlecase %><br>
      Cookie Recipe: <%=link_to @cookie.link, @cookie.link, :target => "_blank"%> <br>
   </div><!--end column -->
   <div class="col-sm-1 ">
   </div><!--end column -->
 </div> <!--end row -->

 <div class="row">
   <div class="col-sm-1 ">
   </div><!--end column -->

  <div class="col-sm-10 ">
      <h3> Here are all of the wines it pairs with:</h3>
    <ul>
      <%@cookie.wines.each do |wine|%>
      <li>
        <%= link_to wine.wine_name, wine_path(wine) %>
      </li>
      <%end%>
    </ul>
  </div><!--end column -->
  <div class="col-sm-1 ">
  </div><!--end column -->
</div> <!--end row -->

<div class="row">
  <div class="col-sm-1 ">
  </div><!--end column -->

 <div class="col-sm-10 ">
   <h3> Create a New Pairing with this Cookie</h3>
   <%= form_for @pairing  do |f| %>

     <%= f.label :Wine %>
     <%= f.collection_select :wine_id, Wine.all,:id,:wine_name%>
     <%= f.hidden_field :cookie_id, value: @cookie.id %>
     <br />

     <%= f.submit %>
   <% end %> <br><br>
 </div><!--end column -->
 <div class="col-sm-1 ">
 </div><!--end column -->
</div> <!--end row -->

<div class="row">
  <div class="col-sm-1 ">
  </div><!--end column -->

 <div class="col-sm-10 ">
   <% if user_admin? %>
   <%= link_to 'Edit Cookie', edit_cooky_path(@cookie)%><br>
   <%= link_to "Delete", @cookie, method: :delete, data: {confirm: "Really?!"} %><br>
   <% end %>
 </div><!--end column -->
 <div class="col-sm-1 ">
 </div><!--end column -->
</div> <!--end row -->

</div><!--end container -->
