<%= render :partial => 'layouts/navbar' %>

<div class="container-fluid main_body_style" >
  <div class="row">
    <div class="col-sm-1 ">
    </div><!--end column -->

   <div class="col-sm-10 ">
     <%= render 'cookieinfo', cookie: @cookie %>
   </div><!--end column -->
   <div class="col-sm-1 ">
   </div><!--end column -->
 </div> <!--end row -->

 <div class="row">
   <div class="col-sm-1 ">
   </div><!--end column -->

  <div class="col-sm-10 ">
    <h4><%= link_to 'Wine Pairings for this Cookie', cooky_pairings_url(@cookie) %></h4><br>
  </div><!--end column -->
  <div class="col-sm-1 ">
  </div><!--end column -->
</div> <!--end row -->

<div class="row">
  <div class="col-sm-1 ">
  </div><!--end column -->

 <div class="col-sm-10 ">
   <h4><%= link_to 'Create a Pairing for this Cookie', new_cooky_pairing_url(@cookie) %></h4><br>
 </div><!--end column -->
 <div class="col-sm-1 ">
 </div><!--end column -->
</div> <!--end row -->

<div class="row">
  <div class="col-sm-1 ">
  </div><!--end column -->

 <div class="col-sm-10">
   <%=edit(@cookie)%>
   <%=delete(@cookie)%>
 </div><!--end column -->

 <div class="col-sm-1 ">
 </div><!--end column -->
</div> <!--end row --><br><br>

</div><!--end container -->
