<div id="pairing-id" data-id="{{id}}"></div>
<h3><a href = "../wines/{{wineId}}">{{wineName}}</a> is paired with  <a href = "../cookies/{{cookieId}}">{{cookieName}}</a> </h3>
<div><h2>---------------------------------------------------------</h2></div>
<h3> Creator: <a href ="../users/{{userId}}">{{userName}}</a> </h3>
<h3>Rating: {{userRating}} <a href = "{{id}}/ratings/new">(Add a Rating)</a><h3>
<h3>Comments: {{commentsCount}} </h3>
<h3>
   <button class="btn btn-primary" name="button" type="submit" id="show-comments">Show Comments</button>
</h3><br>
<button class="btn btn-success" name="button" type="submit" id="add-comment">Add a Comment</button><br><br>


<a href="../users/{{userId}}/pairings/{{id}}/edit" class="btn btn-warning">Edit Pairing</a>
<a data-confirm="Really?!" class="btn btn-danger" rel="nofollow" data-method="delete" href="../pairings/{{id}}">Delete Pairing</a><br><br><br>
