
<a href="/pairings/{{id}}"> {{wineName}} is paired with  {{cookieName}}</a>
<p>Rating: {{userRating}} Comments: {{commentsCount}} Pairing Creator: <a href="../users/${pairing.userId}">{{userName}} </a></p>
</li>`
