
<li>
<a href="/pairings/{{id}}"> {{wineName}} is paired with  {{cookieName}}</a>
<p>Rating: {{userRating}},
  {{#if commentsCount }}
    Comments: {{commentsCount}}
  {{else}}
     No Comments
  {{/if}}
</a></p>
</li>
