<%= form_for @pairing  do |f| %>
<% if @pairing.errors.any? %>
  <div id="error_explanation" class="field_with_errors">
    <ul>
    <% @pairing.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.label :Wine %>
  <%= f.collection_select :wine_id, Wine.all,:id,:wine_name%>
  <br>
  <%= f.label :Cookie %>
  <%= f.collection_select :cookie_id, Cookie.all,:id,:cookie_name%>

  <br />

  <%= f.submit %>
<% end %>
