<%= render :partial => 'layouts/navbar' %>
<div class="container-fluid main_body_style">

  <% flash.each do |key, value| %>
        <div class="alert alert-danger"> <%= key.upcase %>: <%= value %></div>
  <% end %>


  <div class="row" >
    <div class="col-sm-1 ">
    </div><!--end column -->

   <div class="col-sm-10">
     <!-- If this is the pairings for a particular cookie then show that here-->
     <h3> Here are all of the pairings </h3>
     <% if @pairings.count > 1 %>
       <%= render 'sort', cookie: @cookie, wine: @wine, user: @user %>
     <% end %>

     <%= render 'all_pairings', pairings: @pairings, user: @user, wine: @wine, cookie:  @cookie %>
   </div><!--end column -->

   <div class="col-sm-1 ">
   </div><!--end column -->

 </div> <!--end row -->
</div><!--end container -->
