<h3> Here are all of the pairings </h3>

<ul>
  <%@pairings.each do |pairing| %>
    <li>
  <%= link_to pairing.wine.wine_name, pairing_path(pairing) %>
      is paired with <%=link_to pairing.cookie.cookie_name.titlecase, pairing_path(pairing)%>.  Rating:
      <%=pairing.user_rating%>
  </li>
  <%end%>
</ul>

<ul>
  <%@highest_to_lowest.each do |pairing| %>
    <li>
  <%= link_to pairing.wine.wine_name, pairing_path(pairing) %>
      is paired with <%=link_to pairing.cookie.cookie_name.titlecase, pairing_path(pairing)%>.  Rating:
      <%=pairing.user_rating%>
  </li>
  <%end%>
</ul>

<ul>
  <%@lowest_to_highest.each do |pairing| %>
    <li>
  <%= link_to pairing.wine.wine_name, pairing_path(pairing) %>
      is paired with <%=link_to pairing.cookie.cookie_name.titlecase, pairing_path(pairing)%>.  Rating:
      <%=pairing.user_rating%>
  </li>
  <%end%>
</ul>

<%= link_to 'Home', home_url%>
