<h1> Create a Pairing </h1>

<%= form_for @pairing  do |f| %>
<% if @pairing.errors.any? %>
  <div id="error_explanation" class="field_with_errors">
    <ul>
    <% @pairing.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.label :Wine %>
  <%= f.collection_select :wine_id, Wine.all,:id,:wine_name%>
  <br>
  <%= f.label :Cookie %>
  <%= f.collection_select :cookie_id, Cookie.all,:id,:cookie_name%>

  <br />

  <%= f.submit %>
<% end %>
<br>
<%= link_to 'Pairings', pairings_path%><br>
<%= link_to 'Wines', wines_path%><br>
<%= link_to 'Cookies', cookies_path%><br>
<%= link_to 'Home', home_url%>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
