<h1> Create a Pairing </h1>

<%= form_for @pairing  do |f| %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <br />

<!-- Need a dropdown list of wines and of cookies that will send through a wine_id and a cookie_id -->
  <%= f.label :Wine %>
  <%= f.collection_select :wine_id, Wine.all,:id,:wine_name%>
  <br>
  <%= f.label :Cookie %>
  <%= f.collection_select :cookie_id, Cookie.all,:id,:cookie_name%>

  <br />

  <%= f.submit %>
<% end %>
