<%= render :partial => 'layouts/navbar' %>
<h1> Create a Pairing </h1>

<%= render 'form', pairing: @pairing %>
<br>
<%= link_to 'Pairings', pairings_path%><br>
<%= link_to 'Wines', wines_path%><br>
<%= link_to 'Cookies', cookies_path%><br>
<%= link_to 'Home', home_url%>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
