<h1> Create a Pairing </h1>

<%= form_for @pairing  do |f| %>

  <%= f.label :Wine %>
  <%= f.collection_select :wine_id, Wine.all,:id,:wine_name%>
  <br>
  <%= f.label :Cookie %>
  <%= f.collection_select :cookie_id, Cookie.all,:id,:cookie_name%>

  <br />

  <%= f.submit %>
<% end %>
<br>
<%= link_to 'Pairings', pairings_path%><br>
<%= link_to 'Wines', wines_path%><br>
<%= link_to 'Cookies', cookies_path%><br>
<%= link_to 'Home', home_url%>
