
<%= render :partial => 'layouts/navbar' %>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 ">
    </div><!--end column -->

   <div class="col-sm-10 ">
     <h3>
       <%=link_to @pairing.wine.wine_name, wine_url(@pairing.wine) %> is paired with <%= link_to @pairing.cookie.cookie_name, cooky_url(@pairing.cookie)%>.
     </h3>
   </div><!--end column -->

   <div class="col-sm-1 ">
   </div><!--end column -->
 </div> <!--end row -->

 <div class="row">
   <div class="col-sm-1 ">
   </div><!--end column -->

  <div class="col-sm-10 ">
    <h3>
       <%=show_rating(@pairing)%>
       <%= link_to "Add Rating", new_pairing_rating_path(@pairing)%>
    </h3>
  </div><!--end column -->

  <div class="col-sm-1 ">

  </div><!--end column -->
</div> <!--end row -->

<div class="row">
  <div class="col-sm-1 ">
  </div><!--end column -->

 <div class="col-sm-10 ">
   <h3>
      <%=show_comment_count(@pairing)%>
      <%= link_to "Add a Comment", new_pairing_comment_path(@pairing)%>
   </h3>
 </div><!--end column -->

 <div class="col-sm-1 ">
 </div><!--end column -->
</div> <!--end row -->

<div class="row">
  <div class="col-sm-1 ">
  </div><!--end column -->

 <div class="col-sm-10 ">
   <h5>
     <ul>

     <%@pairing.comments.each do |comment|%>
       <li>
         <%=comment.body%>
         <% if user_admin? %>
           <%=edit(comment)%>
           <%=delete(comment)%>
         <% end %>
       </li>

     <%end%>
     </ul>
   </h5>
 </div><!--end column -->

 <div class="col-sm-1 ">
 </div><!--end column -->
</div> <!--end row -->

<div class="row">
  <div class="col-sm-1 ">
  </div><!--end column -->

 <div class="col-sm-10 ">
   <h3>
   <% if user_admin? %>
     <%= link_to "Delete Pairing", @wine, method: :delete, data: {confirm: "Really?!"} %>
   <% end %><br>
 </h3>
 </div><!--end column -->

 <div class="col-sm-1 ">
 </div><!--end column -->
</div> <!--end row -->

</div><!--end container -->






<br>
