<!-- FORM TO CREATE/EDIT A PAIRING WITHIN WINES SHOW PAGE NOT CURRENTLY IN USE -->
<h3> Create a New Pairing with this Wine </h3>
<%= form_for @pairing  do |f| %>
  <%= f.label :Cookie %>
  <%= f.collection_select :cookie_id, Cookie.all,:id,:cookie_name%>
  <%= id_field(@pairing,@wine) %>
  <%= id_field(@pairing,@current_user) %>
  <br />
  <%= f.submit :class => "btn btn-success"%>
<% end %> <br><br>
