
<%= render :partial => 'layouts/navbar' %>

<div class="container-fluid main_body_style">

  <div class="row">
    <div class="col-sm-2 ">
    </div><!--end column -->

   <div class="col-sm-8 ">
     <%= render 'wineinfo', wine: @wine %>
   </div><!--end column -->

   <div class="col-sm-2 ">
   </div><!--end column -->
 </div> <!--end row --><br>


 <div class="row">
   <div class="col-sm-2 ">
   </div><!--end column -->

  <div class="col-sm-8 ">
    <h4><%= link_to 'Cookie Pairings for this Wine', wine_pairings_url(@wine) %><h4><br>
  </div><!--end column -->

  <div class="col-sm-2 ">
  </div><!--end column -->
</div> <!--end row -->


 <div class="row">
   <div class="col-sm-2 ">
   </div><!--end column -->

  <div class="col-sm-8 ">
    <h4><%= link_to 'Create a Pairing for this Wine', new_wine_pairing_url(@wine) %><h4><br>
  </div><!--end column -->

  <div class="col-sm-2 ">
  </div><!--end column -->
</div> <!--end row -->

<div class="row">
  <div class="col-sm-2 ">
  </div><!--end column -->

 <div class="col-sm-8 ">
   <%=edit(@wine)%>
   <%=delete(@wine)%>
 </div><!--end column -->

 <div class="col-sm-2 ">
 </div><!--end column -->
</div> <!--end row --><br><br>



</div><!--end container -->
