<!-- PARTIAL FOR NAVBAR AT THE TOP OF PAGES ONCE USER IS LOGGED IN -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Cookies and Wine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="#"><img src="<%= @current_user.image %>"><span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <%= link_to @current_user.user_name, user_url(@current_user),:class => "nav-link" %>
      </li>

      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Here's all the stuff you can do
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown">

          <%= link_to 'Get a Random Pairing', pairing_url("random"),:class => "dropdown-item" %>

          <div class="dropdown-divider"></div>
          <%= link_to 'All pairings', pairings_path, :class => "dropdown-item"%>

          <div class="dropdown-divider"></div>
          <%= link_to 'Highest Rated Pairing', pairing_url("highest_rated"), :class => "dropdown-item"%>
          <%= link_to 'Most Commented Pairing', pairing_url("most_commented"), :class => "dropdown-item"%>
          <%= link_to 'Newest Pairing', pairing_url("newest"), :class => "dropdown-item"%>
          <%= link_to 'Oldest Pairing', pairing_url("oldest"), :class => "dropdown-item"%>
          <%= link_to "User with Most Pairings", user_url("most_pairings"), :class => "dropdown-item"%>


          <div class="dropdown-divider"></div>
          <%= link_to 'All Cookies', cookies_url, :class => "dropdown-item"%>
          <%= link_to 'All Wines', wines_url, :class => "dropdown-item"%>

          <div class="dropdown-divider"></div>
          <%= link_to 'Create a Pairing', new_user_pairing_url(@current_user), :class => "dropdown-item"%>
          <%= link_to 'Add a Wine', new_wine_url, :class => "dropdown-item"%>
          <%= link_to 'Add a Cookie', new_cooky_url, :class => "dropdown-item"%>

          <div class="dropdown-divider "></div>
          <%= link_to 'All comments', comments_path, :class => "dropdown-item"%>
          <%= link_to 'All Users', users_url, :class => "dropdown-item"%>
          <div class="dropdown-divider"></div>
            <%= link_to 'Update Your Profile', edit_user_path(@current_user),  :class => "dropdown-item" %>
        </div>
      </li>

      <li class="nav-item">
        <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
          <input type=submit value='logout' class="btn btn-primary m-10">
        <% end %>
      </li>
    </ul>
  </div>
</nav>
